name: rencommerce

services:
  mysql:
    image: mysql:8.0
    container_name: db
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: 12345678
      MYSQL_DATABASE: rencommerce
      MYSQL_USER: rencommerce
      MYSQL_PASSWORD: 12345678
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      timeout: 20s
      retries: 10

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    restart: unless-stopped
    depends_on:
      - mysql
    ports:
      - "3307:80"
    environment:
      PMA_HOST: mysql
      PMA_PORT: 3306
      PMA_USER: rencommerce
      PMA_PASSWORD: 12345678

volumes:
  mysql_data:
    driver: local
